@tailwind base;
@tailwind components;
@tailwind utilities;
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.swiper-wrapper {
  align-items: center;
}
.swiper-pagination {
  bottom: 0px !important;
}
video::-webkit-media-controls {
  display: none;
}
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-left {
  background-image: none !important;
}
.animtion {
  transition: all 2s ease;
  animation: anim 1s infinite ease;
  animation-direction: alternate-reverse;
}
@keyframes anim {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

.animtion-circ {
  transition: all 2s ease;
  animation: anim2 4s infinite ease;
  animation-direction: alternate-reverse;
}
@keyframes anim2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
