@tailwind base;
@tailwind components;
@tailwind utilities;
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.swiper-wrapper {
  align-items: center;
}
.swiper-pagination {
  bottom: 0px !important;
}
video::-webkit-media-controls {
  display: none;
}
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-left {
  background-image: none !important;
}
.animtion {
  transition: all 2s ease;
  animation: anim 1s infinite ease;
  animation-direction: alternate-reverse;
}
@keyframes anim {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

.animtion-circ {
  transition: all 2s ease;
  animation: anim2 4s infinite ease;
  animation-direction: alternate-reverse;
}
@keyframes anim2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.li {
  padding: 20px 0;
  padding-left: 48px;
  margin: 0;
  position: relative;
}
.li::before {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  top: 26px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: #ffd01f;
  content: "";
  visibility: visible;
  z-index: 2;
}
.li::after {
  position: absolute;
  left: 9px;
  width: 2px;
  height: 100%;
  top: 0;
  background-color: #a4a4a4;
  content: "";
  visibility: visible;
  z-index: 1;
}
.li:first-child:after {
  height: calc(100% - 30px);
  top: 30px;
}
.li:last-child:after {
  height: 30px;
  top: 0px;
}

.circle {
  animation: myOrbit06 9s linear infinite;
}
@keyframes myOrbit06 {
  from {
    transform: rotate(0deg) translateX(20px) translateY(155px) rotate(360deg);
  }
  to {
    transform: rotate(360deg) translateX(20px) translateY(155px) rotate(0deg);
  }
}
.circle1 {
  animation: myOrbit07 9s linear infinite;
}
@keyframes myOrbit07 {
  from {
    transform: rotate(0deg) translateX(20px) translateY(-155px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(20px) translateY(-155px)
      rotate(-360deg);
  }
}
.circle2 {
  animation: myOrbit07 9s linear infinite;
}
@keyframes myOrbit08 {
  from {
    transform: rotate(0deg) translateX(20px) translateY(218px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(20px) translateY(218px) rotate(-360deg);
  }
}
.circle3 {
  animation: myOrbit08 9s linear infinite;
}
